
html.desktop {
	height: 100%;
	font-size: 3vh; /* CHANGE THIS TO CHANGE THE SCALING */
	overflow: hidden;
}

html.desktop body {
	background-color: #aaaaaa;
	height: 100%;
	overflow: hidden;
}

html.desktop #phone {
	background-color: black;
	max-width: 50vh;
	margin: 1rem auto;
	padding: 0.5rem;
	border-radius: 1rem;
	height: calc(100% - 4rem);
}

html.desktop #root {
	border-radius: 0.5rem;
	background-color: white;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}